html {
  font-size: 62.5%;
  background-color: #e4ffe8;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-family: "Inter";
  color: #1b4332;
}
/* LOGIN FORM */

.container {
  width: 30rem;
  margin: 20rem auto;
}
.login-form {
  padding: 10rem 2rem;
  padding-bottom: 4rem;
  background-color: #b7e4c7;
  border: none;
  border-radius: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.login-form :last-child {
  margin-top: 1rem;
}
.input-field {
  padding: 1rem 2rem;
  border: none;
  border-radius: 4rem;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  background-color: #e4ffe8;
}

.input-field:hover {
  transform: scale(1.03);
}
.btn {
  padding: 1rem 2rem;
  border-radius: 4rem;
  background-color: #e4ffe8;

  border: none;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}
.btn-login:hover {
  transform: scale(1.08);
}
.login-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  background-color: #b7e4c7;
}

.redirection {
  font-weight: 600;
  cursor: pointer;
}

.user-data-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  list-style: none;
}
.user-data-login li {
  font-size: 1.2rem;
  font-weight: 600;
  font-style: italic;
}
.logo {
  width: 20rem;
  position: absolute;
  top: 0;
  translate: 0 90px;
}
a {
  text-decoration: none;
}
/* LOGIN FORM */

/* DASHBOARD */

.dashboard-container {
  width: 100%;
}
.navigation-bar {
  padding: 0 3rem;
  /* background-color: #d8f3dc; */
  background-color: #74c69d;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.logo-header-footer {
  width: 12rem;
}

/* DASHBOARD */

.main-window {
  font-weight: 700;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5rem;
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
  padding: 4rem 0;
}

.side-bar {
  margin-left: 2rem;
  border: none;
  border-radius: 4rem;
  justify-self: center;
  align-self: center;
  width: 15rem;
  height: 100%;
  max-height: calc(100vh - 4rem);

  background-color: #74c69d;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  grid-column: 1/2;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 2rem 2rem;
}
.side-bar button {
  background-color: #95d5b2;
  transition: all 0.3;
  font-size: 1.6rem;
  font-weight: 600;
}
.side-bar button:hover {
  transform: scale(1.1);
}
.side-bar {
  opacity: 3;
}
.main-dashboard {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  align-items: center;
  justify-items: center;
  width: 100%;
  margin-left: 2rem;
}
.dashboard-info {
  background-color: #74c69d;

  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2;
  padding: 6rem 6rem;

  width: 30rem;

  height: fit-content;
  border: "none";
  border-radius: 4rem;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  cursor: pointer;
}

.arrivals-dashboard,
.percentage-dashboard {
  transform: translate(-30%);
  transition: all 0.3s;
}
.arrivals-dashboard:hover,
.percentage-dashboard:hover {
  transform: translate(-30%, -5%);
}

.checkout-dashboard,
.free-rooms-dashboard {
  transform: translate(30%);
  transition: all 0.3s;
}

.checkout-dashboard:hover,
.free-rooms-dashboard:hover {
  transform: translate(30%, -5%);
}

/* .free-rooms-dashboard {
  justify-self: end;
} */

.numbers {
  font-size: 4rem;
}
.widget-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.widget-container :last-child {
  margin-top: 3rem;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
}
