html {
  font-size: 62.5%;
  background-color: #e4ffe8;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-family: "Inter";
  color: #1b4332;
}
/* LOGIN FORM */

.container {
  width: 30rem;
  margin: 20rem auto;
}
.login-form {
  padding: 10rem 2rem;
  padding-bottom: 4rem;
  background-color: #b7e4c7;
  border: none;
  border-radius: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.login-form :last-child {
  margin-top: 1rem;
}
.input-field {
  padding: 1rem 2rem;
  border: none;
  border-radius: 4rem;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  background-color: #e4ffe8;
}

.input-field:hover {
  transform: scale(1.03);
}
.btn {
  padding: 1rem 2rem;
  border-radius: 4rem;
  background-color: #e4ffe8;

  border: none;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}
.btn-login:hover {
  transform: scale(1.08);
}
.login-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  background-color: #b7e4c7;
}

.redirection {
  font-weight: 600;
  cursor: pointer;
}

.user-data-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  list-style: none;
}
.user-data-login li {
  font-size: 1.2rem;
  font-weight: 600;
  font-style: italic;
}
.logo-login {
  width: 20rem;
  position: absolute;
  top: 0;
  translate: 0 90px;
}
a {
  text-decoration: none;
}
/* LOGIN FORM */

/* DASHBOARD */

/* .dashboard-container {
  width: 100%;
}
.navigation-bar {
  padding: 0 3rem;
  background-color: #74c69d;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.logo-header-footer {
  width: 12rem;
}

.main-window {
  font-weight: 700;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5rem;
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
  padding: 4rem 0;
}

.side-bar {
  margin-left: 2rem;
  border: none;
  border-radius: 4rem;
  justify-self: center;
  align-self: center;
  width: 15rem;
  height: 100%;
  max-height: calc(100vh - 4rem);

  background-color: #74c69d;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  grid-column: 1/2;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 2rem 2rem;
}
.side-bar button {
  background-color: #95d5b2;
  transition: all 0.3;
  font-size: 1.6rem;
  font-weight: 600;
}
.side-bar button:hover {
  transform: scale(1.1);
}
.side-bar {
  opacity: 3;
}
.main-dashboard {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  align-items: center;
  justify-items: center;
  width: 100%;
  margin-left: 2rem;
}
.dashboard-info {
  background-color: #74c69d;

  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2;
  padding: 6rem 6rem;

  width: 30rem;

  height: fit-content;
  border: "none";
  border-radius: 4rem;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  cursor: pointer;
}

.arrivals-dashboard,
.percentage-dashboard {
  transform: translate(-30%);
  transition: all 0.3s;
}
.arrivals-dashboard:hover,
.percentage-dashboard:hover {
  transform: translate(-30%, -5%);
}

.checkout-dashboard,
.free-rooms-dashboard {
  transform: translate(30%);
  transition: all 0.3s;
}

.checkout-dashboard:hover,
.free-rooms-dashboard:hover {
  transform: translate(30%, -5%);
}

.numbers {
  font-size: 4rem;
}
.widget-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.widget-container :last-child {
  margin-top: 3rem;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
} */

/* ******MainUI******* */

.MainUi-container {
  display: flex;
  gap: 1rem;
  width: 100vw;
  height: 100vh;
}

.sidebar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  align-items: center;
  padding: 0 3rem 3rem 3rem;
  width: 15rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ul-sidebar li {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  list-style: none;
  text-align: center;

  padding: 0.5rem 1rem;
  border-radius: 4rem;
  transition: all 0.1s;
}
.ul-sidebar li:hover,
.mainWindow-short-info:hover {
  background-color: #52b788;
  cursor: pointer;
  color: #fff;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  /* gap: 10rem; */
  width: 100%;
}
.navbar-container {
  width: 100%;
  grid-column: 1/3;
  font-size: 2rem;
  font-weight: 500;
  padding: 2rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  height: 6rem;
  margin-bottom: 10rem;
}

.mainWindow-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;

  align-content: start;
  justify-self: center;
}

.mainWindow-short-info {
  display: flex;
  overflow: hidden;
  position: relative;

  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  padding: 6rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4rem;
  transition: all 0.3s;
}
.mainWindow-short-info:last-child::before {
  opacity: 0.1;
  position: absolute;
  transform: translate(20%, 20%);
  content: "";
  /* display: block; */
  background-image: url("/public/percentage.png");

  width: 22rem;
  height: 22rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.mainWindow-short-info:first-child::before {
  opacity: 0.1;
  position: absolute;
  transform: translate(20%, 20%);
  content: "";
  /* display: block; */
  background-image: url("/public/bell_18394508.png");

  width: 22rem;
  height: 22rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.mainWindow-short-info-abreisen::before {
  opacity: 0.1;
  position: absolute;
  transform: translate(20%, 20%);
  content: "";
  /* display: block; */
  background-image: url("/public/exit_18457767.png");

  width: 22rem;
  height: 22rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.mainWindow-short-info-im-haus::before {
  opacity: 0.1;
  position: absolute;
  transform: translate(20%, 20%);
  content: "";
  /* display: block; */
  background-image: url("/public/hotel_1781022.png");

  width: 22rem;
  height: 22rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.nummer {
  font-size: 3rem;
  font-weight: 600;
  color: #2d6a4f;
}
.text {
  font-size: 2rem;
  font-weight: 400;
}
.mainWindow-short-info:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.ui-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4rem;
  padding: 2rem 4rem;
  overflow: scroll;
  /* Firefox */
  scrollbar-width: none;

  /* IE / Edge (stari) */
  -ms-overflow-style: none;
}

.icons {
  width: 2rem;
}
.logo-sidebar {
  width: 20rem;
  transition: all 0.3s;
}
.logo-sidebar:hover {
  cursor: pointer;
  width: 20rem;
  transform: scale(1.05);
}

.arrivals-container::before {
  opacity: 0.1;
  position: absolute;
  bottom: 0;
  right: 0;
  /* transform: translate(15%, 15%); */
  content: "";
  /* display: block; */
  background-image: url("/public/bell_18394508.png");

  width: 30rem;
  height: 30rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.departure-container::before {
  opacity: 0.1;
  position: absolute;
  bottom: 0;
  right: 0;
  /* transform: translate(15%, 15%); */
  content: "";
  /* display: block; */
  background-image: url("/public/exit_18457767.png");

  width: 30rem;
  height: 30rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.in-house-container::before {
  opacity: 0.1;
  position: absolute;
  bottom: 0;
  right: 0;
  /* transform: translate(15%, 15%); */
  content: "";
  /* display: block; */
  background-image: url("/public/hotel_1781022.png");

  width: 30rem;
  height: 30rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.guest-card {
  display: flex;
  flex-direction: column;
  border-radius: 4rem;

  padding: 1rem 2rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  height: auto;
  transition: all 0.3s;
}
.guest-card:hover {
  cursor: pointer;
  transform: scale(1.03);
}
.guest-card-short-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.guest-card-open {
  display: flex;
}
